<!DOCTYPE html>
   <head>
      <title>Pi0ulailler</title>
   </head>
   <body>
		<h1>Pi0ulailler control</h1>

		<table>
			<tr>
				<td>Opening time</td>
				<td>
					<form action="/setopeningtime" method="POST">
						<input {% if setOpeningTimeStatus is defined and not setOpeningTimeStatus %}class="statuserror" {% elif setOpeningTimeStatus is defined %}class="statusok" {% endif %}name="openingTime" type="time" value="{{ chickenCoop.openingTime }}"/>
						<input type="submit" value="OK"/>
					</form>
				</td>
			</tr>
			<tr>
				<td>Closing time</td>
				<td>
					<form action="/setclosingtime" method="POST">
						<input {% if setClosingTimeStatus is defined and not setClosingTimeStatus %}class="statuserror" {% elif setClosingTimeStatus is defined %}class="statusok" {% endif %}name="closingTime" type="time" value="{{ chickenCoop.closingTime }}"/>
						<input type="submit" value="OK"/>
					</form>
				</td>
			</tr>
		</table>
		
		<table>
			{% for d in doors %}
			<tr>
				<td>{{ d.name }}</td>
				<td>{{ d.status }}</td>
				<td>
					<form action="/{{ d.id }}/open" method="POST">
						<input type="submit" name="open" value="Open" />
					</form>
				</td>
				<td>
					<form action="/{{ d.id }}/close" method="POST">
						<input type="submit" name="close" value="Close" />
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>

   </body>
</html>