<!DOCTYPE html>
   <head>
      <title>Pi0ule</title>
   </head>
   <body>
		<h1>Pi0ule control</h1>
		
		<h2> Status </h2>
		<h3> Door opened: {{ doorOpened  }}</h3>
		<h3> Door closed: {{ doorClosed  }}</h3>
		<h3> Door opened: {{ doorOpening  }}</h3>
		<h3> Door closing:  {{ doorClosing  }}</h3>
		<h3> Opening time:  {{ openingTime  }}</h3>
		<h3> Closing time:  {{ closingTime  }}</h3>
		<br>
		<h2> Commands </h2>
		<h3> 
			Door 
			<a href="/open" class="button">Open door</a>  
			<a href="/close"class="button">Close door</a>
		</h3>
		<h3> 
			Define hour 
			<a href="/closingTime" class="button"></a>  
			<a href="/openingTime"class="button"></a>
		</h3>
		
   </body>
</html>